/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}


.main_view  {
 	display: block;
	margin-top: 1%;
}

h1 {
	text-align: center;
}

.main_view vaadin-text-field {
	margin-right: 10px;
	width: 300px;
}

.main_view vaadin-combo-box {
	margin-right: 10px;
	width: 300px;
}

.main_view vaadin-date-picker {
	margin-right: 10px;
	width: 300px;
}

.main_view vaadin-button {
	margin-right: 10px;
	margin-top: 36px;
	cursor: pointer;
	width: 300px;
}

.container-fluid {
	padding: 0 !important;
	margin-top: 0 !important;
}

nav {
	margin-top: 0;
}

vaadin-item {
	cursor: pointer;
}

.header {
	margin-top: 1%;
}

.workout-form {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

@media (max-width: 800px) { 
	.workout-form {
		flex-direction: column;
	}
	.main_view vaadin-text-field {
		width: 100%;
	}

	.main_view vaadin-combo-box {
		width: 100%;
	}
	
	.main_view vaadin-date-picker {
		width: 100%;
	}
	
	.main_view vaadin-button {
		width: 100%;
	}
 }


